## zsh setup ##
export ZSH="$HOME/.oh-my-zsh"
ZSH_THEME="haondt"
plugins=(vi-mode)
zstyle ':omz:alpha:lib:git' async-prompt no # disable async, it messed with git prompt
source $ZSH/oh-my-zsh.sh
export ZLE_RPROMPT_INDENT=0

## vim everywhere ##
set -o vi
export FCEDIT=nvim
export EDITOR=nvim

## path addendums ##
. "$HOME/.cargo/env"
export PATH=$PATH:~/.local/share/bob/nvim-bin
export PATH=$PATH:~/.local/bin
export PATH=$PATH:~/go/bin

## functions ##
fzf_dir() {
    ~/.local/bin/kunzite/fzf_dir.sh
}

jd() { dir=$(fzf_dir); [ $? -eq 0 ] && cd $dir }

jt() {
    ~/.config/tmux/scripts/tmux-dir-sessionize.sh '"nvim; zsh" \; split-window -v -p 20 \; select-pane -t 0'
}

jv() {
    ~/.config/tmux/scripts/tmux-dir-sessionize.sh '"nvim; zsh"'
}

jm() {
    ~/.config/tmux/scripts/tmux-dir-sessionize.sh
}

ja() {
    ~/.config/tmux/scripts/tmux-get-or-create-session.sh
}

# temporarily source an env file
# xenv ./.env ./script.sh
xenv() { (set -a && source "$1" && shift && "$@"); }

cheat() {
    BUFFER=""

    local markdown_dir="$HOME/.local/bin/kunzite/cheat"
    local cheat="$HOME/.local/bin/kunzite/cheat/cheat.sh"

    # Use grep to search for tags in Markdown files
    #tags=$(grep -h -r -o -E '#\w+' "$markdown_dir" | sort -u)
    local tags=$("$cheat" -d "$markdown_dir" | sed 's/:/\t/g' | sed 's/<COLON>/:/g')

    # Use fzf to select a tag interactively
    local selected=$(echo -e "$tags" | fzf -d "\t" --with-nth=1 --ansi --preview "bat  -pp --color=always --highlight-line {2} {-1} --theme=Dracula" --preview-window '+{2}/2')
    if [[ -n $selected ]]; then
        local selected_path=$(echo -e "$selected" | awk -F'\t' '{print $4}')
        local selected_line=$(echo -e "$selected" | awk -F'\t' '{print $2}')
        bat --theme=Dracula --highlight-line $selected_line --color=always -p --pager="less +"$selected_line"G -j.5" $selected_path 
    fi

    zle accept-line
}

## aliases ##
alias sz='. ~/.zshrc'
alias ez='$EDITOR ~/projects/dotfiles/kunzite/ansible/roles/zsh-configure'
alias vz='$EDITOR ~/.zshrc'
alias rz='(cd ~/projects/dotfiles/kunzite && just configure zsh) && . ~/.zshrc'

alias ev='$EDITOR ~/projects/dotfiles/kunzite/ansible/roles/neovim-configure'
alias vv='$EDITOR ~/.config/nvim'
alias rv='(cd ~/projects/dotfiles/kunzite && just configure neovim)'
alias v='nvim'
alias vim='nvim'

alias st='tmux source-file ~/.tmux.conf'
alias et='$EDITOR ~/projects/dotfiles/kunzite/ansible/roles/tmux-configure'
alias vt='$EDITOR ~/.tmux.conf'
alias rt='(cd ~/projects/dotfiles/kunzite && just configure tmux) && tmux source-file ~/.tmux.conf'

alias ec='$EDITOR ~/projects/dotfiles/kunzite/ansible/roles/base-configure/files/scripts/cheat'
alias rc='(cd ~/projects/dotfiles/kunzite && just configure base)'

alias md='medea --trim'
alias clip='wl-copy'
{% if sway.enabled %}
alias sclip="grim -g \"\$(slurp)\" - | wl-copy --type image/png"
wclip() {
    grim -g "$(swaymsg -t get_tree | jq -r '.. | select(.pid? and .visible?) | .rect | "\(.x),\(.y) \(.width)x\(.height)"' | slurp)" - | wl-copy
}
alias spaste="wl-paste"
alias sread="wl-paste | imv -"
{% endif %}
alias py='python3'

alias gs='git status --short -b'
alias ga='git add'
alias gcm='git commit -m'
alias gr='git reset'
alias gd='git difftool --dir-diff'
alias gm='git mergetool'

alias la='ls -a'
alias ll='ls -l'
alias lla='ls -la'

# user scripts
{% for k, v in zsh.aliases.items() %}
alias {{ k }}='{{ v }}'
{% endfor %}

alias gcloud="docker run --rm \
    -v $(pwd):/app \
    -it \
    --user $(id -u):$(id -g) \
    -v ~/gcloud/config/:/config/mygcloud \
    -e CLOUDSDK_CONFIG=/config/mygcloud \
    -v ~/gcloud/certs/:/certs \
    -w /app \
    --entrypoint gcloud \
    gcr.io/google.com/cloudsdktool/google-cloud-cli:alpine"

## bindings ##

zle -N cheat

KEYTIMEOUT=1 # 10 ms key timeout
bindkey -M vicmd '  ' cheat # <leader><leader>
# map <leader> to circumvent 10ms timeout when activating cheat
bindkey -M vicmd ' ' undefined-key

## python ##
VIRTUAL_ENV_DISABLE_PROMPT=1

# bun
[ -s "/home/noah/.bun/_bun" ] && source "/home/noah/.bun/_bun"
export BUN_INSTALL="$HOME/.bun"
export PATH="$BUN_INSTALL/bin:$PATH"

# k9s

{% if dev_tools.enabled and dev_tools.kubernetes.enabled %}
K9S_CONFIG_DIR="$HOME/.config/k9s"
{% if foot.enabled %}
alias k9s="TERM=xterm-256color k9s"
{% endif %}
{% endif %}
