
## path addendums ##
. "$HOME/.cargo/env"
export PATH=$PATH:~/.local/share/bob/nvim-bin
export PATH=$PATH:~/.local/bin
export PATH=$PATH:~/go/bin

## aliases ##
alias sz='. ~/.zshrc'
alias st='tmux source-file ~/.tmux.conf'
