{% if sway.wallpaper %}
image={{ sway.wallpaper }}
{% endif %}

ring-color={{ colors.cursorColor }}
ring-caps-lock-color={{ colors.cursorColor }}
ring-clear-color={{ colors.white.bright }}
ring-ver-color={{ colors.blue.bright }}
ring-wrong-color={{ colors.red.dark }}

key-hl-color={{ colors.cyan.dark }}
caps-lock-key-hl-color={{ colors.cyan.bright }}
bs-hl-color={{ colors.black.dark }}
caps-lock-bs-hl-color={{ colors.black.dark }}

font=Source Code Pro
font-size=23
indicator-radius=325
indicator-thickness=5

inside-color=#00000000
inside-clear-color=#00000000
inside-caps-lock-color=#00000000
inside-ver-color=#00000000
inside-wrong-color=#00000000

line-color=#00000000
line-clear-color=#00000000
line-caps-lock-color=#00000000
line-ver-color=#00000000
line-wrong-color=#00000000
separator-color=#00000000

text-color={{ colors.cyan.bright }}00
text-clear-color={{ colors.white.bright }}00
text-ver-color={{ colors.blue.bright }}00
text-wrong-color={{ colors.red.bright }}00
